# 全局配置文件
spring:
  application:
    name: hdfs-api
  server:
    port: 8080
  datasource:
    url: jdbc:mysql://172.21.44.162:3306/HDFS?useSSL=false&allowPublicKeyRetrieval=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
    username: tangxw
    password: Puersai.168
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

  servlet:
    multipart:
      max-file-size: 10240MB
      max-request-size: 102400MB

# Hadoop配置
hadoop:
  hdfs:
    user: Administrator
    uri: hdfs://172.21.44.162:9000
    root-path: /corpus/
    annotations-path: /annotations/

logging:
  level:
    root: INFO
    com.computerscience.hdfsapi: DEBUG


server:
  # 服务器的HTTP端口，默认为8080
  port: 8080
  servlet:
    # 应用的访问路径
    context-path: /api

